<div class="content">
    <section class="content" style="margin-top: 80px;">
        <div class="row">
            <div class="col text-center">
                <h1>The Climate Gap</h1>
                <h3>Climate change and Gender issues, NO correlation?</h3>
                <p>Explore the map and find out real cases where gender inequity
                    worsens the impact of the climate crisis</p>
            </div>
        </div>
        <div id="map" class="map-container"></div>
        <app-layer></app-layer>
        
    </section>
</div>
<router-outlet></router-outlet>