<div class="container text-center">
    <h1 style="padding-top: 100px; align-self: center;">Local Initiatives</h1>

    <div id="projectCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-flex justify-content-center">
                    <div class="card">
                        <img src="/assets/img/malawi_solution.PNG" class="card-img-top" alt="Project 1">
                        <div class="card-body">
                            <h5 class="card-title"> <b>Women farmers in Malawi tackle climate change and gender inequalities through greenhouse programme </b></h5>
                            <p class="card-text">“Investing in women farmers who are the backbone of our agriculture sector is key to ending poverty”.</p>
                            <a href="https://www.unwomen.org/en/news-stories/feature-story/2024/02/women-farmers-in-malawi-tackle-climate-change-and-gender-inequalities-through-greenhouse-programme" type="button" class="btn btn-outline-primary mt-auto" target="_blank">See More</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/assets/img/bhutan_solution.PNG" class="card-img-top" alt="Project 2">
                        <div class="card-body">
                            <h5 class="card-title"><b>Gender and Climate change in Bhutan: Agriculture, Energy and Waste.</b></h5>
                            <p class="card-text">Bhutan has trained Gender Focal Points within different ministries to enable them to
                            coordinate and implement gender equality and climate change initiatives.</p>
                            <a href="solutions" type="button" class="btn btn-outline-primary mt-auto">See More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#projectCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#projectCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
