<main class="main">
  <div class="content">
    <div class="container">
      <h1>Welcome to Our Modern Map Website</h1>
      <p>Explore the world with our interactive map!</p>
      <div id="map" class="map-container"></div>
      <div class="card">
        <app-layer 
          name="Markers Layer" 
          [active]="markersLayerActive" 
          (layerToggle)="toggleMarkersLayer($event)">
        </app-layer>
        <app-layer 
          name="Circle Layer" 
          [active]="circleLayerActive" 
          (layerToggle)="toggleCircleLayer($event)">
        </app-layer>
      </div>
      <div style="margin-top: 20px;">
        <a href="https://angular.dev/overview" target="_blank" class="button">Learn more about Angular</a>
      </div>
    </div>
    <app-map></app-map>
  </div>
</main>

<router-outlet />
