<main class="main">

  <header>
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
     
      <div>
          <img src="/public/assets/img/logo.png"  alt="...">
      </div>
    
    </nav>
  </header>

  <section class="content">
    
    <div class="container">


      <h1>The Climate Gap</h1>
      <p>Explore climate gender gap situations:</p>

      <div id="map" class="map-container"></div>


      </div>


    <app-layer></app-layer>

  </section>

</main>

<router-outlet />
