
<div class="main">
    <div style="padding: 40px;"></div>
    <h3>Where should we act first?</h3>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Choose a layer
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Flood risk</a>
          <a class="dropdown-item" href="#">Drought risk</a>
          <a class="dropdown-item" href="#">Food insecurity</a>
        </div>
      </div>
    
    <app-map></app-map>
</div>

<router-outlet></router-outlet>